.App{
  max-width: 100%;
  margin: auto;
}
.Task{
  margin-left: 10px;
}
.delete{
  /* display: flex; */
  border-radius: 50px;
  font-size: 14px;
  color:black;
  background-color: red;
  
}
.display-4{
  background-color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1)100%)
}
.text-dark{
  color: white;
}
.Task{
  color: yellowgreen;
}

/* .form-control{
  background-color: white;
} */